.block{
    display: block;
    text-align: center;
  font-size: 23px;
  color: rgb(11, 1, 48);
}

#text{
    color: rgb(17, 1, 68);
    text-align: center;
    font-size: 22px;
    
}
#text_1{
    color: rgb(32, 97, 60); 
    text-align: center;
    font-size: 43px;
}
#text_2{
    color: rgb(20, 61, 61);
    font-size: 24px;
    margin-left: 1%;
   }
p{
    font-size: 22px;
    text-align: justify;
    margin-left: 0.5%;
    margin-right: 1%;
    color: rgb(11, 1, 48);
   }
.block_image{
    display: flex;
    justify-content: center;
  }
.footer{
    width: 100%;
    position: relative;
    height: auto;
    background-color: #745b6694;
}
.footer .col{
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}
.footer .col h1{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #6d0202d5;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}
.footer .col ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .col ul li{
    color: #edc4c4df;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.social ul li{
    display: inline-block;
    padding-right: 5px !important;
}
.footer .col ul li:hover{
    color: #3c2121;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}
.clearfix{
    clear: both;
}
@media only screen and (min-width: 1280) {
  .comntain {
    width: 1200px;
    margin: 0 auto;
  }    
}
@media only screen and (max-width: 1139) {
    .contain .social {
        width: 1000px;
        display: block;
    }
    .social h1 {
        margin: 0px;
    }
}
@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}
@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    } 
}
@media only screen and (max-width:340px) {
    .footer .col {
        width: 100%;
    }
}
